.about-container{
    width: 100%; 
    height: 120.1vh;
    background: linear-gradient(1200deg, #b1b137 0%, #88200e 100%);

     display: flex;
}


@media screen and (max-width: 767px) {
.about-container{
    height: 150.1vh;
}
}