.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(132, 140, 152);
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.header-bg {
    background-color: rgba(187, 163, 163, 0.85);
    transition: 0.5s;
}

.navbar {
    display: flex;
    /* align-items: center;
    justify-content: center;
    position: sticky; */
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.name-portfolio {
    margin-right: 2rem;
    margin-left: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    padding-right: 20px;
    cursor: pointer;
    z-index: 30;
}

/* a{
    margin-right: 1em;
    cursor: pointer;
} */

.name-portfolio:hover {
    color: rgba(0, 0, 0, 0.363);

}

a:hover {
    color: rgba(0, 0, 0, 0.363);

}

.responsiveBtn {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1040px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(98, 91, 91, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .navbar.active {
        left: 0;
    }

    .navbar li {
        padding: 1rem 0;
    }

    .navbar li a {
        font-size: 2rem;
    }

    .responsiveBtn {
        display: initial;
    }
}